.goods {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
}

.good {
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
  position: relative;
  transition: .25s;
}

.good:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
}

.good__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.good__img {
  width: 100%;
  height: 150px;
}

.good__info {
  margin: 10px 0;
}

.good__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.good__icons span{
  font-size: 12px;
  font-weight: bold;
  color: #ccc;
}
.good__icon-heart,
.good__icon-cart,
.good__icon-in-cart {
  font-size: 20px;
  transition: .15s;
  cursor: pointer;
}
.good__icon-heart_bg {
  color: red;
}
.good__icon-heart:hover {
  color: red
}
.good__icon-cart:hover {
  color: green;
}

.good__icon-in-cart{
  color: green;
}