.header {
  height: 50px;
  background: rgb(207, 30, 65);

  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  margin-bottom: 20px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu__item {
  margin-right: 20px;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  transition: .15s;
  font-size: 20px;
}

.active {
  color:black;
}

.menu__link:hover {
  color: rgb(73, 30, 22)
}